<div class="col-10">
  <div class="main-style-div">
    <div>
      <div class="d-flex justify-content-between mt-5">
        <h3>افزودن دوره</h3>
      </div>
    </div>
    <hr />

    <div>
      <form>
        <div class="form-group">
          <label for="name">عنوان دوره</label>
          <input type="text" class="form-control mt-2" id="name" name="name" />
        </div>

        <div class="form-group">
          <label for="coursetype">نوع دوره</label>
          <input
            type="text"
            class="form-control mt-2"
            id="coursetype"
            name="coursetype"
          />
        </div>

        <div class="form-group">
          <label for="text">متن</label>
          <textarea
            class="form-control mt-2"
            id="text"
            rows="3"
            name="text"
          ></textarea>
        </div>

        <div class="form-group">
          <label for="image">افزودن تصویر</label>
          <input
            type="file"
            class="form-control-file mt-2"
            id="image"
            name="image"
          />
        </div>

        <div class="row">
          <div class="col">
            <label for="image">قیمت</label>
            <input type="text" class="form-control mt-2"/>
          </div>
          <div class="col">
            <label for="image">تگ ها</label>
            <input type="text" class="form-control mt-2"/>
          </div>
        </div>

        <button type="submit" class="btn btn-primary mt-4">افزودن</button>
      </form>
    </div>
    <!--  -->
  </div>
</div>
