<div class="col-10">
  <h3>دوره ها</h3>

  <div class="Course-Table">
    <table class="table table-striped">
      <thead>
        <tr class="text-center">
          <th scope="col">عنوان مقاله</th>
          <th scope="col">تعداد نظرات</th>
          <th scope="col">مقدار بازدید</th>
          <th scope="col">تعداد شرکت کننده ها</th>
          <th scope="col">وضعیت دوره</th>
          <th scope="col">تنظیمات</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center">
          <th scope="row">دوره بوت استرپ</th>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>نقدی</td>
          <td>
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-primary">ویرایش</button>
              <button type="button" class="btn btn-danger">حذف</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
