<div class="col-10">
    <div class=" ">
        <div class="p-0">
            <div class=" bg-light mr-md-auto p-4 d-flex justify-content-lg-between flex-sm-column flex-lg-row" id="main">
                <div class=" col-lg-3 col-sm-12">
                    <div class="card bg-light m-0">
                        <div class="card-header">
                            <h5 class="">67200</h5>
                            <p class="card-text blockquote-footer">تعداد اعضای ثبت نام کرده شده</p>
                        </div>
                        <div class="card-body text-primary p-1">
                            <div>
                                <canvas id="success_chart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <div class="card bg-light m-0">
                        <div class="card-header">
                            <h5>34200</h5>
                            <p class="card-text blockquote-footer">تعداد اعضای ثبت نام کرده شده</p>
                        </div>
                        <div class="card-body text-primary p-1">
                            <canvas id="primary_chart">asfasf</canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <div class="card bg-light m-0">
                        <div class="card-header">
                            <h5 class="">89200</h5>
                            <p class="card-text blockquote-footer">تعداد اعضای ثبت نام کرده شده</p>
                        </div>
                        <div class="card-body text-primary p-1">
                            <canvas id="Three_chart">asfasf</canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <div class="card bg-light m-0">
                        <div class="card-header">
                            <h5>45200</h5>
                            <p class="card-text blockquote-footer">تعداد اعضای ثبت نام کرده شده</p>
                        </div>
                        <div class="card-body text-primary p-1">
                            <canvas id="Four_chart">asfasf</canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Dashbord -->
            <div class="px-4 col-md-12">
                <div>
                    <div class="d-flex justify-content-between flex-wrap border-bottom p-4">
                        <div>
                            <h4>داشبورد</h4>
                        </div>
                        <div>
                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups ">

                                <div class="btn-group ml-2" role="group" aria-label="Second group">
                                    <button type="button" class="btn btn-outline-dark btn-sm">اشتراک گزاری</button>
                                    <button type="button" class="btn btn-outline-dark btn-sm">خروجی گرفتن</button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-outline-dark btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                  این ماه
                                                </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <a class="dropdown-item" href="#">هفته اول</a>
                                        <a class="dropdown-item" href="#">هفته دوم</a>
                                        <a class="dropdown-item" href="#">هفته سوم</a>
                                        <a class="dropdown-item" href="#">هفته چهارم</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="px-4 mt-4">
                <div class="card w-100">
                    <div class="card-header">
                        <h5>امار بازدید</h5>
                    </div>
                    <div class="card-body">
                        <canvas id="Full_chart">asfasf</canvas>

                    </div>
                    <div class="card-footer d-flex flex-md-row">
                        <div class="d-flex flex-column justify-content-between col-3">
                            <h6>همه بازدید ها</h6>
                            <small>25680 بازدید (40%)</small>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: 40%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="d-flex flex-column justify-content-between col-3">
                            <h6>بازدید های یکتا</h6>
                            <small>15460 بازدید (80%)</small>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-primary progress-bar-animated" role="progressbar" style="width: 80%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="d-flex flex-column justify-content-between col-3">
                            <h6>صفحات بازدید شده</h6>
                            <small>79500 بازدید (25%)</small>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 25%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="d-flex flex-column justify-content-between col-3">
                            <h6>نرخ برش</h6>
                            <small>36400 بازدید (43%)</small>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" style="width: 43%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Table -->
            <div class="px-4 pt-4 table-responsive table-sm">
                <table class="table">
                    <thead>
                        <tr class="table-secondary">
                            <th class="col-7 p-2">عنوان</th>
                            <th class="p-2">نظرات</th>
                            <th class="p-2">مقدار بازدید</th>
                            <th class="p-2">تنظیمات</th>
                        </tr>
                    </thead>
                    <!-- Table Body -->
                    <tbody>
                        <tr class="p-2">
                            <td>چه زمانی مشتری خیلی دور شده است؟</td>
                            <td>0</td>
                            <td>0</td>
                            <td>
                                <div class="btn-group">
                                    <a href="" class="btn btn-primary btn-sm">ویرایش</a>
                                    <a href="" class="btn btn-danger btn-sm">حذف</a>
                                </div>
                            </td>
                        </tr>
                        <tr class="p-2">
                            <td>چه زمانی مشتری خیلی دور شده است؟</td>
                            <td>0</td>
                            <td>0</td>
                            <td>
                                <div class="btn-group">
                                    <a href="" class="btn btn-primary btn-sm">ویرایش</a>
                                    <a href="" class="btn btn-danger btn-sm">حذف</a>
                                </div>
                            </td>
                        </tr>

                        <tr class="p-2">
                            <td>چه زمانی مشتری خیلی دور شده است؟</td>
                            <td>0</td>
                            <td>0</td>
                            <td>
                                <div class="btn-group">
                                    <a href="" class="btn btn-primary btn-sm">ویرایش</a>
                                    <a href="" class="btn btn-danger btn-sm">حذف</a>
                                </div>
                            </td>
                        </tr>

                        <tr class="p-2">
                            <td>چه زمانی مشتری خیلی دور شده است؟</td>
                            <td>0</td>
                            <td>0</td>
                            <td>
                                <div class="btn-group">
                                    <a href="" class="btn btn-primary btn-sm">ویرایش</a>
                                    <a href="" class="btn btn-danger btn-sm">حذف</a>
                                </div>
                            </td>
                        </tr>

                        <tr class="p-2">
                            <td>چه زمانی مشتری خیلی دور شده است؟</td>
                            <td>0</td>
                            <td>0</td>
                            <td>
                                <div class="btn-group">
                                    <a href="" class="btn btn-primary btn-sm">ویرایش</a>
                                    <a href="" class="btn btn-danger btn-sm">حذف</a>
                                </div>
                            </td>
                        </tr>

                        <tr class="p-2">
                            <td>چه زمانی مشتری خیلی دور شده است؟</td>
                            <td>0</td>
                            <td>0</td>
                            <td>
                                <div class="btn-group">
                                    <a href="" class="btn btn-primary btn-sm">ویرایش</a>
                                    <a href="" class="btn btn-danger btn-sm">حذف</a>
                                </div>
                            </td>
                        </tr>

                        <tr class="p-2">
                            <td>چه زمانی مشتری خیلی دور شده است؟</td>
                            <td>0</td>
                            <td>0</td>
                            <td>
                                <div class="btn-group">
                                    <a href="" class="btn btn-primary btn-sm">ویرایش</a>
                                    <a href="" class="btn btn-danger btn-sm">حذف</a>
                                </div>
                            </td>
                        </tr>

                        <tr class="p-2">
                            <td>چه زمانی مشتری خیلی دور شده است؟</td>
                            <td>0</td>
                            <td>0</td>
                            <td>
                                <div class="btn-group">
                                    <a href="" class="btn btn-primary btn-sm">ویرایش</a>
                                    <a href="" class="btn btn-danger btn-sm">حذف</a>
                                </div>
                            </td>
                        </tr>

                        <tr class="p-2">
                            <td>چه زمانی مشتری خیلی دور شده است؟</td>
                            <td>0</td>
                            <td>0</td>
                            <td>
                                <div class="btn-group">
                                    <a href="" class="btn btn-primary btn-sm">ویرایش</a>
                                    <a href="" class="btn btn-danger btn-sm">حذف</a>
                                </div>
                            </td>
                        </tr>

                        <tr class="p-2">
                            <td>چه زمانی مشتری خیلی دور شده است؟</td>
                            <td>0</td>
                            <td>0</td>
                            <td>
                                <div class="btn-group">
                                    <a href="" class="btn btn-primary btn-sm">ویرایش</a>
                                    <a href="" class="btn btn-danger btn-sm">حذف</a>
                                </div>
                            </td>
                        </tr>

                        <tr class="p-2">
                            <td>چه زمانی مشتری خیلی دور شده است؟</td>
                            <td>0</td>
                            <td>0</td>
                            <td>
                                <div class="btn-group">
                                    <a href="" class="btn btn-primary btn-sm">ویرایش</a>
                                    <a href="" class="btn btn-danger btn-sm">حذف</a>
                                </div>
                            </td>
                        </tr>

                        <tr class="p-2">
                            <td>چه زمانی مشتری خیلی دور شده است؟</td>
                            <td>0</td>
                            <td>0</td>
                            <td>
                                <div class="btn-group">
                                    <a href="" class="btn btn-primary btn-sm">ویرایش</a>
                                    <a href="" class="btn btn-danger btn-sm">حذف</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>